.elementor-14 .elementor-element.elementor-element-15a2876>.elementor-container {
    max-width: 1320px;
}

.elementor-14 .elementor-element.elementor-element-15a2876 {
    padding: 110px 0px 110px 0px;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item {
    display: block;
    flex-direction: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E9E9EA;
    border-radius: 6px 6px 6px 6px;
    padding: 40px 30px 40px 30px;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item:hover .icon__box-item-icon i {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item:hover .icon__box-item-icon svg path {
    fill: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item:hover .icon__box-item-icon {
    background: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-icon i {
    color: #FEA024;
    font-size: 35px;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-icon svg path {
    fill: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-icon {
    background: #EEF7EC;
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin: 0px 0px 40px 0px;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-icon svg {
    max-width: 35px;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-content h4 {
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item-content p {
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin: 2px auto 0px auto;
}

.elementor-14 .elementor-element.elementor-element-5c1e6a4 .icon__box-item:hover .icon__box-item-content p a:hover {
    color: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item {
    display: block;
    flex-direction: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E9E9EA;
    border-radius: 6px 6px 6px 6px;
    padding: 40px 30px 40px 30px;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item:hover .icon__box-item-icon i {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item:hover .icon__box-item-icon svg path {
    fill: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item:hover .icon__box-item-icon {
    background: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-icon i {
    color: #FEA024;
    font-size: 35px;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-icon svg path {
    fill: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-icon {
    background: #EEF7EC;
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin: 0px 0px 40px 0px;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-icon svg {
    max-width: 35px;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-content h4 {
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item-content p {
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin: 2px auto 0px auto;
}

.elementor-14 .elementor-element.elementor-element-51a7f26 .icon__box-item:hover .icon__box-item-content p a:hover {
    color: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item {
    display: block;
    flex-direction: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E9E9EA;
    border-radius: 6px 6px 6px 6px;
    padding: 40px 30px 40px 30px;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item:hover .icon__box-item-icon i {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item:hover .icon__box-item-icon svg path {
    fill: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item:hover .icon__box-item-icon {
    background: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-icon i {
    color: #FEA024;
    font-size: 35px;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-icon svg path {
    fill: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-icon {
    background: #EEF7EC;
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin: 0px 0px 40px 0px;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-icon svg {
    max-width: 35px;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-content h4 {
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item-content p {
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin: 2px auto 0px auto;
}

.elementor-14 .elementor-element.elementor-element-20ee958 .icon__box-item:hover .icon__box-item-content p a:hover {
    color: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item {
    display: block;
    flex-direction: block;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E9E9EA;
    border-radius: 6px 6px 6px 6px;
    padding: 40px 30px 40px 30px;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item:hover .icon__box-item-icon i {
    color: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item:hover .icon__box-item-icon svg path {
    fill: #FFFFFF;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item:hover .icon__box-item-icon {
    background: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-icon i {
    color: #FEA024;
    font-size: 35px;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-icon svg path {
    fill: #FEA024;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-icon {
    background: #EEF7EC;
    width: 70px;
    height: 70px;
    min-width: 70px;
    margin: 0px 0px 40px 0px;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-icon svg {
    max-width: 35px;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-content h4 {
    font-family: "Inter", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #fff;
}

.elementor-14 .elementor-element.elementor-element-3fc3b6f .icon__box-item-content p {
    font-family: "Plus Jakarta Sans", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin: 2px auto 0px auto;
}

.elementor-14 .elementor-element.elementor-element-344bea5>.elementor-container {
    max-width: 1300px;
}

.elementor-14 .elementor-element.elementor-element-344bea5 {
    padding: 0px 0px 120px 0px;
}

.elementor-bc-flex-widget .elementor-14 .elementor-element.elementor-element-de1ef1e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-de1ef1e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-de1ef1e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-14 .elementor-element.elementor-element-de1ef1e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #041839;
}

.elementor-14 .elementor-element.elementor-element-de1ef1e>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 13px 0px 0px;
    --e-column-margin-right: 13px;
    --e-column-margin-left: 0px;
    padding: 70px 50px 70px 50px;
}

.elementor-14 .elementor-element.elementor-element-de1ef1e>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-14 .elementor-element.elementor-element-5e7d2f0>.elementor-widget-container {
    margin: 0px 0px 12px 0px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .slaze-contact-form-wrapper {
    text-align: left;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="text"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="email"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="url"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="number"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="tel"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap input[type*="date"] {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap .wpcf7-select {
    height: 60px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-form-control-wrap textarea {
    height: 175px;
}

.elementor-14 .elementor-element.elementor-element-2e73cfd .wpcf7-form .wpcf7-submit {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    padding: 15px 38px 15px 38px;
}

.elementor-bc-flex-widget .elementor-14 .elementor-element.elementor-element-1331d5e.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-1331d5e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-14 .elementor-element.elementor-element-1331d5e>.elementor-element-populated {
    padding: 0px 0px 0px 13px;
}

.elementor-14 .elementor-element.elementor-element-347bcb4 iframe {
    height: 665px;
}

@media(max-width:1024px) {
    .elementor-14 .elementor-element.elementor-element-15a2876 {
        padding: 90px 0px 90px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-344bea5 {
        padding: 0px 0px 100px 0px;
    }

    .elementor-14 .elementor-element.elementor-element-de1ef1e>.elementor-element-populated {
        margin: 0px 12px 12px 12px;
        --e-column-margin-right: 12px;
        --e-column-margin-left: 12px;
    }

    .elementor-14 .elementor-element.elementor-element-1331d5e>.elementor-element-populated {
        padding: 12px 12px 0px 12px;
    }
}

@media(max-width:767px) {
    .elementor-14 .elementor-element.elementor-element-de1ef1e>.elementor-element-populated {
        padding: 40px 25px 40px 25px;
    }

    .elementor-14 .elementor-element.elementor-element-5e7d2f0 .elementor-heading-title {
        font-size: 32px;
        line-height: 42px;
    }
}

@media(min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-de1ef1e {
        width: 57%;
    }

    .elementor-14 .elementor-element.elementor-element-1331d5e {
        width: 43%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-4515a8f {
        width: 50%;
    }

    .elementor-14 .elementor-element.elementor-element-cba8376 {
        width: 50%;
    }

    .elementor-14 .elementor-element.elementor-element-dcb69e3 {
        width: 50%;
    }

    .elementor-14 .elementor-element.elementor-element-0557ccc {
        width: 50%;
    }

    .elementor-14 .elementor-element.elementor-element-de1ef1e {
        width: 100%;
    }

    .elementor-14 .elementor-element.elementor-element-1331d5e {
        width: 100%;
    }
}