.elementor-87 .elementor-element.elementor-element-a027c04>.elementor-container {
    max-width: 1700px;
}

.elementor-87 .elementor-element.elementor-element-a027c04>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-a027c04:not(.elementor-motion-effects-element-type-background),
.elementor-87 .elementor-element.elementor-element-a027c04>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000b1d;
}

.elementor-87 .elementor-element.elementor-element-a027c04 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 9px 12px 9px 12px;
}

.elementor-87 .elementor-element.elementor-element-a027c04>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-87 .elementor-element.elementor-element-afee432.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-afee432.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-afee432>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-icon i {
    color: #FEA024;
    transition: color 0.3s;
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-icon svg {
    fill: #FEA024;
    transition: fill 0.3s;
}

.elementor-87 .elementor-element.elementor-element-cda2195 {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 2px;
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-item>a {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-text {
    color: #B4B4B9;
    transition: color 0.4s;
}

.elementor-87 .elementor-element.elementor-element-cda2195 .elementor-icon-list-item:hover .elementor-icon-list-text {
    color: #FEA024;
}

.elementor-bc-flex-widget .elementor-87 .elementor-element.elementor-element-1cff777.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-1cff777.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-1cff777.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-87 .elementor-element.elementor-element-1cff777>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-87 .elementor-element.elementor-element-47ccb74 .elementor-heading-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
}

.elementor-87 .elementor-element.elementor-element-47ccb74 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-87 .elementor-element.elementor-element-3fc490f {
    --divider-border-style: solid;
    --divider-color: #B4B4B9;
    --divider-border-width: 2px;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-87 .elementor-element.elementor-element-3fc490f .elementor-divider-separator {
    width: 35px;
}

.elementor-87 .elementor-element.elementor-element-3fc490f>.elementor-widget-container {
    margin: 0px 17px 0px 20px;
}

.elementor-87 .elementor-element.elementor-element-6930661 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 16px;
    --grid-column-gap: 28px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-widget-container {
    text-align: center;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-social-icon {
    background-color: #292E3600;
    --icon-padding: 0em;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-social-icon:hover i {
    color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6930661 .elementor-social-icon:hover svg {
    fill: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-ccef177>.elementor-container {
    max-width: 1700px;
}

.elementor-87 .elementor-element.elementor-element-ccef177>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-ccef177:not(.elementor-motion-effects-element-type-background),
.elementor-87 .elementor-element.elementor-element-ccef177>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: linear-gradient(75deg, #FEA024 16%, #000b1d 0%);
}

.elementor-87 .elementor-element.elementor-element-ccef177 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 15px 12px 15px 12px;
}

.elementor-87 .elementor-element.elementor-element-ccef177>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-87 .elementor-element.elementor-element-1bb3c72.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-1bb3c72.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-1bb3c72>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-87 .elementor-element.elementor-element-a3890f0 img {
    max-width: 140px;
}

.elementor-bc-flex-widget .elementor-87 .elementor-element.elementor-element-0b13684.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-0b13684.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-0b13684>.elementor-element-populated {
    padding: 14px 0px 14px 0px;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul {
    text-align: center;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li a {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li>a {
    font-size: 15px;
    text-transform: capitalize;
    line-height: 25px;
    border-color: #FFFFFF1A;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu {
    background: #1F242C;
    border-color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li a {
    color: #FFFFFF;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li.>a::before {
    color: #FFFFFF;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li:hover>a {
    color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li.:hover>a::before {
    color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li .sub-menu li>a::after {
    background: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li>.sub-menu {
    top: 58px;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu ul li>.sub-menu li>.sub-menu {
    top: 0px;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .nav_menu_bar {
    text-align: right;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu-responsive .nav_menu_bar-popup {
    background: #1F242C;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu-responsive .nav_menu_bar-popup ul li a {
    color: #FFFFFF;
    border-color: #FFFFFF1A;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu-responsive .nav_menu_bar-popup ul li:hover>a {
    color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf .vertical-menu ul li.>span {
    color: #FFFFFF;
    background: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-6a207bf>.elementor-widget-container {
    margin: 0px -50px 0px 0px;
    padding: 0px 0px 0px 15px;
}

.elementor-bc-flex-widget .elementor-87 .elementor-element.elementor-element-2ce2352.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-2ce2352.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-87 .elementor-element.elementor-element-2ce2352.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-87 .elementor-element.elementor-element-2ce2352>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-87 .elementor-element.elementor-element-0969411 .tOri-search {
    text-align: right;
}

.elementor-87 .elementor-element.elementor-element-0969411 .tOri-search-icon i {
    color: #1F242C;
    font-size: 20px;
}

.elementor-87 .elementor-element.elementor-element-0969411 .tOri-search-box button {
    color: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-0969411>.elementor-widget-container {
    margin: 0px 0px -2px 0px;
}

.elementor-87 .elementor-element.elementor-element-0969411 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-87 .elementor-element.elementor-element-cafc788 .tOri-offcanvas-popup-icon {
    text-align: right;
}

.elementor-87 .elementor-element.elementor-element-cafc788 .tOri-offcanvas-popup-icon i {
    font-size: 25px;
    color: #ffff;
}

.elementor-87 .elementor-element.elementor-element-cafc788 .tOri-offcanvas-popup-icon svg {
    max-width: 25px;
    fill: #1F242C;
}

.elementor-87 .elementor-element.elementor-element-cafc788 .tOri-offcanvas-popup {
    background: #000b1d;
}

.elementor-87 .elementor-element.elementor-element-cafc788 .tOri-offcanvas-popup .sidebar-close-btn {
    background: #FEA024;
}

.elementor-87 .elementor-element.elementor-element-cafc788>.elementor-widget-container {
    margin: 1px 0px -10px 40px;
}

.elementor-87 .elementor-element.elementor-element-cafc788 {
    width: auto;
    max-width: auto;
    align-self: center;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .custom-btn-alignment {
    text-align: right;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .tOri-button {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 26px;
    color: #FFFFFF;
    background: #FEA024;
    border-radius: 5px 5px 5px 5px;
    padding: 17px 38px 17px 38px;
    transition: 0.4s;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .tOri-button::before {
    background: #292E36;
    transition: 0.4s;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .tOri-button::after {
    background: #292E36;
    transition: 0.4s;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .tOri-button:hover {
    border-color: #292E36;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 .tOri-button i {
    transition: 0.4s;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6>.elementor-widget-container {
    margin: 0px -3px 0px 40px;
}

.elementor-87 .elementor-element.elementor-element-1ad71b6 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-87 .elementor-element.elementor-element-1cff777.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-87 .elementor-element.elementor-element-ccef177:not(.elementor-motion-effects-element-type-background),
    .elementor-87 .elementor-element.elementor-element-ccef177>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-color: transparent;
        background-image: linear-gradient(75deg, #FEA024 30%, #FFFFFF 0%);
    }

    .elementor-87 .elementor-element.elementor-element-ccef177 {
        padding: 15px 12px 15px 12px;
    }

    .elementor-87 .elementor-element.elementor-element-6a207bf>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-87 .elementor-element.elementor-element-afee432 {
        width: 65%;
    }

    .elementor-87 .elementor-element.elementor-element-1cff777 {
        width: 34.877%;
    }

    .elementor-87 .elementor-element.elementor-element-1bb3c72 {
        width: 15%;
    }

    .elementor-87 .elementor-element.elementor-element-0b13684 {
        width: 58.264%;
    }

    .elementor-87 .elementor-element.elementor-element-2ce2352 {
        width: 26.4%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-87 .elementor-element.elementor-element-afee432 {
        width: 100%;
    }

    .elementor-87 .elementor-element.elementor-element-1cff777 {
        width: 100%;
    }

    .elementor-87 .elementor-element.elementor-element-1bb3c72 {
        width: 50%;
    }

    .elementor-87 .elementor-element.elementor-element-0b13684 {
        width: 50%;
    }
}

@media(max-width:767px) {
    .elementor-87 .elementor-element.elementor-element-afee432.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }

    .elementor-87 .elementor-element.elementor-element-1cff777>.elementor-element-populated {
        margin: 4px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-87 .elementor-element.elementor-element-ccef177:not(.elementor-motion-effects-element-type-background),
    .elementor-87 .elementor-element.elementor-element-ccef177>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-color: transparent;
        background-image: linear-gradient(75deg, #FEA024 56%, #FFFFFF 0%);
    }

    .elementor-87 .elementor-element.elementor-element-1bb3c72 {
        width: 60%;
    }

    .elementor-87 .elementor-element.elementor-element-0b13684 {
        width: 40%;
    }

    .elementor-87 .elementor-element.elementor-element-6a207bf .header_nav-menu-responsive .nav_menu_bar-popup {
        padding: 30px 20px 30px 20px;
    }
}